<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.rs.test.prototype.mail.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.rs.test.prototype.mail.Perspective"
            id="de.rs.test.prototype.mail.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
  <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="de.rs.test.prototype.mail.View"
            id="de.rs.test.prototype.mail.view">
      </view>
      <view
      		name="PersonenView"
            allowMultiple="true"
            icon="icons/user.png"
            class="de.rs.test.prototype.mail.PersonenView"
            id="de.rs.test.prototype.mail.personenview"
            
            >
      </view>
      <view
            allowMultiple="true"
            class="de.rs.test.prototype.mail.NavigationView"
            icon="icons/sample3.gif"
            id="de.rs.test.prototype.mail.navigationView"
            name="Navigationsicht">
           
      </view>
      <view
            allowMultiple="true"
            class="de.rs.test.prototype.mail.RowsView"
            icon="icons/gameboard.gif"
            id="de.rs.test.prototype.mail.RowsView"
            name="Datenbestand"
            relationship="top"
            relative="org.eclipse.ui.editorss"
            standalone="true"
            restorable="true">
             
      </view>
      <view
            allowMultiple="true"
            class="de.rs.test.prototype.mail.SearchView"
            icon="icons/sample3.gif"
            id="de.rs.test.prototype.mail.SearchView"
            name="Suchensicht"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="de.rs.test.prototype.mail.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="de.rs.test.prototype.mail.category"
            id="de.rs.test.prototype.mail.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="de.rs.test.prototype.mail.category"
            id="de.rs.test.prototype.mail.openMessage">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.CallEditor"
            id="de.vogella.rcp.editor.example.openEditor"
            name="CallEditor">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.PersonEditorHandler"
            id="de.vogella.rcp.editor.example.handler.PersonEditorHandler"
            name="PersonenEditorHandler">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.BestatterAuftragHandler"
            id="de.rs.rcp.editor.BestatterAuftragHandler"
            name="BestatterAuftragHandler">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.DataLoaderHandler"
            id="de.rs.prototype.firdaous.handler.openDatarows"
            name="Datenbestand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.rs.test.prototype.mail.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="de.rs.test.prototype.mail.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product application="de.rs.test.prototype.mail.product1"
            name="firdaous">
         <property
               name="appName"
               value="firdaous">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.rs.prototype.firdaous.editor.DeceaseEditor"
            default="false"
            id="de.vogella.rcp.editor.example.editor.deceaseeditor"
            name="SterbeFormular"
            >
            
  
      </editor>
      <editor
            class="de.rs.prototype.firdaous.editor.PersonEditor"
            default="false"
            icon="icons/users.ico"
            id="de.rs.test.prototype.mail.personeditor"
            name="PersonEditor">
      </editor>
      <editor
            class="de.rs.prototype.firdaous.editor.WorkOrderEditor"
            default="false"
            icon="icons/attachment_48_48.ico"
            id="de.vogella.rcp.editor.example.workorder"
            name="WorkOrderEditor">
      </editor>
      <editor
            class="de.rs.prototype.firdaous.editor.BestatterAuftragEditor"
            default="false"
            icon="icons/BestatterAuftrag.ico"
            id="de.rs.rcp.editor.BestatterAuftragEditor"
            name="BestatterAuftragEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="project_firdaous_extens">
         <view
               id="de.rs.test.prototype.mail.personenview"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="auftraganlegen"
            name="%AA"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="auftrageditieren"
            name="%AE"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="auftraglöschen"
            name="%AL"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="bestattungsauftrag"
            name="%BAuftrag"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="anlagezumsterbefall"
            name="%AZS"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="standesamtformular"
            name="%SAF"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="leichennameformular"
            name="%LNF"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="alleAuftragFormulare"
            name="%AllFormularForOrder"
            >
      </command>
   </extension>
     

   <extension
         point="org.eclipse.ui.menus">
   
      
      <menuContribution
            locationURI="popup:de.rs.test.prototype.mail.RowsView"  >
            <command
               commandId="auftraganlegen"
               id="de.rs.firdaous.auftraganlegen"
               style="push"
               icon="icons/newBook.gif">
         </command>
         <command
               commandId="auftrageditieren"
               id="de.rs.firdaous.auftraganlegen"
               style="push"
               icon="icons/document_edit_16.bmp">
         </command>
         <command
               commandId="auftraglöschen"
               id="de.rs.firdaous.auftraganlegen"
               style="push"
               icon="icons/delete_16_16.bmp">
         </command>
         <separator 
               name="com.example.addressbook.separatorauftragformular"
               visible="true">
         </separator>
         <command
               commandId="anlagezumsterbefall"
               id="de.rs.firdaous.anlagezumsterbeanlage"
               style="push"
               icon="icons/attachment_24_24.bmp">
         </command>
         <command
               commandId="bestattungsauftrag"
               id="de.rs.firdaous.bestattungsauftrag"
               style="push"
               icon="icons/BestatterAuftrag_16_16.bmp">
         </command>
         <command
               commandId="leichennameformular"
               id="de.rs.firdaous.leichennameformular"
               style="push"
               icon="icons/leichenname_form_16_16.bmp">
         </command>
         <command
               commandId="standesamtformular"
               id="de.rs.firdaous.standesamtformular"
               style="push"
               icon="icons/standesamt_form_red_16_16.bmp">
         </command>
         <command
               commandId="standesamtformular"
               id="de.rs.firdaous.standesamtformular"
               style="push"
               icon="icons/standesamt_form_red_16_16.bmp">
         </command>
         <command
               commandId="alleAuftragFormulare"
               id="de.rs.firdaous.alleAuftragFormulare"
               style="push"
               icon="icons/gnome_applications_office_16.png">
         </command>
         <separator
               name="com.example.addressbook.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
    <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="de.rs.prototype.firdaous.handler.AZFHandler"
            commandId="anlagezumsterbefall">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      </extension>
      
      <extension point="org.eclipse.ui.handlers">
      
      <handler
            class="de.rs.prototype.firdaous.handler.BAHandler"
            commandId="bestattungsauftrag">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      
      </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="de.rs.prototype.firdaous.handler.AddressDeleteHandler"
            commandId="auftraganlegen">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
         <handler
            class="de.rs.prototype.firdaous.handler.AddressDeleteHandler"
            commandId="auftrageditieren">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
         <handler
            class="de.rs.prototype.firdaous.handler.AddressDeleteHandler"
            commandId="auftraglöschen">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
         
         
      <handler
            class="de.rs.prototype.firdaous.handler.AddressDeleteHandler"
            commandId="leichennameformular">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.rs.prototype.firdaous.handler.AddressDeleteHandler"
            commandId="standesamtformular">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      
      <handler
            class="de.rs.prototype.firdaous.handler.AllFormularHandler"
            commandId="alleAuftragFormulare">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      
      <handler
            class="de.rs.prototype.firdaous.handler.AddressDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="de.rs.firdaous.model.WorkOrder">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>>
   </extension>

</plugin>
